*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}
header{
    max-width: 1600px;
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color:#ffffff ;
width: 1600px;
height: 92px;
display: flex;
align-items: center;
padding: 16px 120px;

}
.logo{
    color: #ffffff;
}
nav .menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    font-size: medium;
    font-weight: bold;
   
    
}
.menu a{
text-decoration: none;
color: #000000 ;
}
.btn{
/* width: 164px; */
font-size: 16px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
padding: 12px 16px;

border-radius: 4px;
background-color:#388d5d;
color: #ffffff;

}
.btn:hover{
    cursor: pointer;
    background-color:#388d5d;
color: #ffffff;

}
/* .hero-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30;
    padding: 70px 120px 134px 120px;
    background-image: url(./B13-A01-Knowledge-Vault/assets/hero-bg.png);
}
.hero-banner h5 {
    background-color: #ffffff;
    color: #388d5d;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
     width: 183px;
     border-radius: 1000;
}
.banner-content h1{
    font-weight: bold;
    font-size: 72px;
    text-align: center;
   
    

}
.banner-content h1 #h1-1{
    color:
rgba(255, 255, 255, 1) ;
}
.banner-content h1 #h1-2{
    color:rgba(48, 184, 104, 1) ;
} */

